################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelpInstructionSvc/.vs
/HelpInstructionSvc/Andgasm.HelpInstruction.Web/node_modules
/HelpInstructionSvc/Andgasm.HelpInstruction.Web.Component/obj
/HelpInstructionSvc/Andgasm.HelpInstruction.Web.UITests/obj
