.helptooltip {
    position: absolute;
    text-align: center;
    background-color: gray;
    border-radius: 0.5em;
    margin: 2px;
    margin-left: -10px;
    padding: 3px;
    color: white;
    display: none;
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 12px !important;
    z-index: 1000;
    font-size: x-small;
}

.helptooltip:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-bottom: 5px solid gray;
    border-right: 5px solid transparent;
    top: -5px;
    left: 12px;
}

.helplink {
    width: 13px !important;
    min-height: 13px !important;
    font-size: x-small !important;
}

/* support for kendo grid header */
.k-grid-header-wrap, .k-header {
    overflow: visible !important
}